<div class="experience">
    <mat-accordion class="experience-accordion">
        <mat-expansion-panel class="main-panel" expanded>
          <mat-expansion-panel-header class="main-panel-header">
            <mat-panel-title>Software Developer - Xperate, Pune (July 2024 - Present)</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-expansion-panel class="sub-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>Project Halo</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>Led the admin module, implementing CRUD operations for entities such as address types, entity types, and matter types.</li>
              <li>Developed the CMS module, creating client screens for administrators to manage clients and their members efficiently.</li>
              <li>Led the PMS module, designing posting screens for financial operations, including client credit, client debt, and client-to-office transactions.</li>
              <li>Utilized PMS data to create client, matter, task, and disbursement records in Clo, ensuring accurate data synchronization.</li>
              <li>Developed webhooks based on Clo documentation for real-time data updates and event-driven communication.</li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel class="sub-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>QMP-CLO Integration</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>Optimized authentication for QMP-CLO integration, following Clo documentation and mirroring Actionstep QMP integrations.</li>
              <li>Utilized QMP data to create client, matter, task, and disbursement records in Clo, ensuring accurate data synchronization.</li>
              <li>Developed webhooks based on Clo documentation for real-time data updates and event-driven communication.</li>
            </ul>
          </mat-expansion-panel>
      
          <mat-expansion-panel class="sub-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>Recruitment Management</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li>Developed RESTful APIs using .NET for seamless data exchange between front-end and back-end.</li>
              <li>Designed workflows for candidate interviews, scheduling, and feedback using Entity Framework 6 to manage database models and relationships.</li>
              <li>Optimized user experience and interface consistency.</li>
            </ul>
          </mat-expansion-panel>
        </mat-expansion-panel>
      </mat-accordion>
</div>