<div class="home-container">
   <div class="home-container-items">
        <div class="name-container">
            <h2 class="name">Hii,I am Abhijit</h2>
        </div>
        <div class="position-container">
            <h1 class="position">Software Developer</h1>
        </div>
    <div class="introduction-container">
        <p class="introduction">
            I am a passionate software developer with expertise in both front-end and back-end development, specializing in Angular, TypeScript, .NET, and state management with NgRx. I build interactive web applications and user experiences by leveraging a full-stack skill set. With a strong focus on clean code, collaboration, and continuous learning, I strive to deliver innovative, scalable, and user-centric solutions.
        </p>
    </div>
    <div class="social-media-container">
      <a href="https://www.linkedin.com/in/abhijitsurve/" class="link" target="_blank">
          <i class="fab fa-linkedin"></i> 
      </a>
      <a href="https://github.com/AbhiSurve2412 " class="link" target="_blank">
          <i class="fab fa-github"></i> 
      </a>
      <a 
      href="https://www.instagram.com/abhi_surve2412?igsh=YXlnam92cXVwczNv" 
      class="link" 
      target="_blank">
          <i class="fab fa-instagram"></i> 
      </a>
      <a href="https://www.facebook.com/share/16bbZ3ocw4/" class="link" target="_blank">
          <i class="fab fa-facebook"></i> 
      </a>
  </div>  
   </div>
</div>